{% extends "base.html" %}
{% block title %}edit{% endblock %}

{% block head %}
    <style>
		form {
			margin: 0;
		}
		textarea {
			display: block;
		}
	</style>
	<script type="text/javascript">
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('textarea[name="content"]', {
                uploadJson : '/',
                fileManagerJson : '/file_manager/',
				allowFileManager : false,
                allowImageUpload : false,
                allowFlashUpload : false,
                allowMediaUpload : false,
                allowFileUpload : false,
                allowImageRemote : false,
			});
		});
	</script>
{% endblock %}

{% block content %}
		<form name="theform" action="" method="post">
            {% csrf_token %}
            <input type="text" name="title" style="width:660px;height:20px"  placeholder="Title">
            {% if error %}
                <p style="color: red;">Please input the title !</p>
            {% endif %}
			<textarea name="content" style="width:670px;height:450px;visibility:hidden;"></textarea>
            <div>
                <button type="submit" style="width:150px"  class="btn  btn-primary">submit</button>
                <button type="reset" style="width:150px"  class="btn  btn-danger">reset</button>
            </div>
		</form>
{% endblock %}