{% extends "base.html" %}
{% block title %}找回密码{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="span8 ">
<form action="" class="well form-horizontal"  method="post" style="width:650px;margin:0px;background-image:url('/static/images/lanse.jpg');">
    {% csrf_token %}
       <div class="control-group">
          <label style="color: white;" class="control-label">用户名：</label>
              <div class="controls">
                <input id="inputUsername" name="username" placeholder="Username" type="text">
              </div>
       </div>
       <div class="control-group">
         <label style="color: white;" class="control-label">邮箱：</label>
         <div class="controls">
           <input id="inputEmail" name="email" placeholder="Email" type="text">
         </div>
       </div>
      <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">找回密码</button>
            {% if flag = 1 %}
               <p></p>
               <p class=" alert-error " style="width:220px;">用户名或邮箱不正确！</p>
            {% elif flag = 2 %}
               <p></p>
               <p class=" alert-error " style="width:220px;">密码已发送至邮件，请查收！</p>
            {% endif %}
          </div>
       </div>
  </form>
</div>
{% endblock %}